{{ partial "head.html" . }}

{{ partial "navigation.html" . }}

<div class="project-content">
   <header class="post-header has-padding">
      <span>
         Case study
      </span>
      <h1>
         {{ .Title }}
      </h1>
   </header>

   {{ if .Params.categories }}
      <div class="category-tag-list">
         {{ $len := len .Params.categories }}
         {{ range $index, $tag := .Params.categories }}
            <a href="{{ "categories/" | absLangURL }}{{ $tag | urlize }}" class="category-tag">
               {{ . }}
            </a>
         {{ end }}
      </div>
   {{ end }}

   {{ .Content }}
</div>

{{ partial "footer.html" . }}
