<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Linus Rogge{{ with .Params.Title }} / {{ . }}{{end}}</title>
      <meta name="description" content="Self-taught user-experience designer and front-end developer">
      <meta name="keywords" content="Linus Rogge, Frontend, Developer, Development, Entwickler, Designer, Design, User Experience, User Interface, User, Interface, Experience, young, youth, jung, student, webdesign, hamburg, deutschland, webdesigner, UX, UI, Product, freelancing, freelancer, vue, vuejs, wordpress, css, scss, html, javascript">
      <meta name="designer" content="Linus, Rogge">
      <meta name="page-topic" content="Portfolio, Personal Page">
      <meta name="page-type" content="Portfolio, Personal Page">
      <meta name="author" content="Linus Rogge">
      <meta name="publisher" content="Linus Rogge">

      <link rel="icon" href="{{ .Site.BaseURL }}assets/icons/favicon-128x128.png" sizes="128x128">
      <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}assets/icons/apple-touch-icon.png}}">

      <link rel="stylesheet" href="https://use.typekit.net/sdu6ktg.css">
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      <!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}css/chocolat.min.css"> -->
      <link rel="stylesheet" href="{{ .Site.BaseURL }}css/master.min.css">
   </head>
   <body {{ with .Params.bodyClass }}class="{{ . }}"{{end}}>

   {{ partial "navigation" . }}

   <div class="overlay"></div>

   <main class="main-content">
      {{ block "content" . }} {{ end }}
   </main>

   {{ partial "footer.html" . }}

   <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script defer src="{{ .Site.BaseURL }}js/bez/src/jquery.bez.js"></script>
   <!-- <script defer src="{{ .Site.BaseURL }}js/chocolat.js"></script> -->
   <script defer src="{{ .Site.BaseURL }}js/master.js"></script>
   </body>
</html>
