<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Linus Rogge{{ with .Params.Title }} / {{ . }}{{end}}</title>
      <meta name="description" content="Self-taught user-experience designer and front-end developer">

      <link rel="stylesheet" href="https://use.typekit.net/sdu6ktg.css">
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ .Site.BaseURL }}css/master.min.css">
   </head>
   <body {{ with .Params.bodyClass }}class="{{ . }}"{{end}}>

   {{ partial "navigation" . }}

   <div class="overlay"></div>

   <main class="main-content">
      {{ block "content" . }} {{ end }}
   </main>

   {{ partial "footer.html" . }}

   <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <!-- <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
   <script src="{{ .Site.BaseURL }}js/slide-theme/dist/SwupSlideTheme.min.js"></script>
   <script src="{{ .Site.BaseURL }}js/preload-plugin/dist/SwupPreloadPlugin.js"></script> -->
   <script defer src="{{ .Site.BaseURL }}js/bez/src/jquery.bez.js"></script>
   <script defer src="{{ .Site.BaseURL }}js/master.js"></script>
   </body>
</html>
