// main: ../master.scss

.btn {
   border: none;
   position: relative;
   border-radius: 10px;
   font: 16px/1 $sans;
   padding: 13px 30px 14px 30px;
   display: inline-flex;
   align-items: center;
   border: 1px solid transparent;
   background: $white;
   transition: background .4s ease, transform .3s $bounceCubic;

   &:hover {
      transform: scale(0.98);
   }

   &:active,
   &:focus {
      transform: scale(0.95);
   }

   &.primary {
      background: $bluePrimary;
      color: $white;
      border-color: $bluePrimary;

      &:hover {
         background: darken($bluePrimary, 5%);
         color: $white;
      }
   }

   &.secondary {
      background: $graySecondary;
      color: $black;

      &:hover {
         background: darken($graySecondary, 2%);
      }
   }

   &.disabled {
      color: $bluePrimary;
      background: lighten($bluePrimary, 45%);
      opacity: 1;

      @media (prefers-color-scheme: dark) {
         color: $white;
         // background: darken($bluePrimary, 45%);
         background: lighten($grayDark, 10%);
         opacity: 1;
      }
   }
}
