// main: ../master.scss

.btn {
   border: none;
   position: relative;
   border-radius: 10px;
   font: 16px/1 $sans;
   padding: 13px 30px 14px 30px;
   display: inline-flex;
   align-items: center;
   border: 1px solid transparent;
   background: $white;
   transition: background .4s ease, transform .3s $bounceCubic;

   &:hover {
      transform: scale(0.98);
   }

   &:active,
   &:focus {
      transform: scale(0.95);
   }

   &.primary {
      background: $bluePrimary;
      color: $white;
      border-color: $bluePrimary;

      &:hover {
         background: darken($bluePrimary, 5%);
         color: $white;
      }
   }

   &.secondary {
      background: $graySecondary;
      color: $black;

      &:hover {
         background: darken($graySecondary, 2%);
      }

      @media (prefers-color-scheme: dark) {
         background: lighten($grayDark, 5%);
         color: $white;

         &:hover {
            background: lighten($grayDark, 3%);
         }
      }
   }

   &.disabled {
      color: $bluePrimary;
      background: lighten($bluePrimary, 45%);
      opacity: 1;

      @media (prefers-color-scheme: dark) {
         color: $white;
         // background: darken($bluePrimary, 45%);
         background: lighten($grayDark, 10%);
         opacity: 1;
      }
   }

   &.is-external {
      position: relative;
      padding-right: 60px;

      &::after {
         content: "";
         background: url("/assets/icons/arrow-new-white.svg");
         background-repeat: no-repeat;
         background-size: cover;
         width: 16.6px;
         height: 13px;
         position: absolute;
         top: 50%;
         right: 30px;
         display: inline-block;
         margin-left: 10px;
         transform: translateY(-45%) rotate(-45deg);
         transition: transform .3s ease;

         @media (prefers-color-scheme: dark) {
            background: url("/assets/icons/arrow-new-white.svg");
            background-repeat: no-repeat;
            background-size: cover;
         }
      }

      &:hover {
         &::after {
            opacity: 1;
            transform: translateX(3px) translateY(calc(-45% - 3px)) rotate(-45deg);
         }
      }
   }

   &.is-scrolling {
      position: relative;
      padding-right: 60px;

      &::after {
         content: "";
         background: url("/assets/icons/arrow-new-white.svg");
         background-repeat: no-repeat;
         background-size: cover;
         width: 16.6px;
         height: 13px;
         position: absolute;
         top: 50%;
         right: 30px;
         display: inline-block;
         margin-left: 10px;
         transform: translateY(-45%) rotate(90deg);
         transition: transform .3s ease;

         @media (prefers-color-scheme: dark) {
            background: url("/assets/icons/arrow-new-white.svg");
            background-repeat: no-repeat;
            background-size: cover;
         }
      }

      &:hover {
         &::after {
            opacity: 1;
            transform: translateY(calc(-45% + 2px)) rotate(90deg);
         }
      }
   }
}
