// main: ../master.scss

a {
   font: 16px $sans;
   color: $black;
   text-decoration: none;
   transition: color .2s ease;

   @media (prefers-color-scheme: dark) {
      color: $white;
   }

   &.link {
      color: $primary;
   }

   &.disabled {
      opacity: .2;
      color: $black;
      pointer-events: none;

      &:hover {
         color: $black;
      }

      @media (prefers-color-scheme: dark) {
         color: $white;

         &:hover {
            color: $white;
         }
      }
   }

   &:hover {
      color: $grayPrimary;
   }

   &.is-external {
      position: relative;

      &::after {
         content: "";
         background: url("/assets/icons/arrow-new-black.svg");
         background-repeat: no-repeat;
         background-size: cover;
         width: 15.6px;
         height: 12px;
         position: absolute;
         top: 50%;
         display: inline-block;
         margin-left: 5px;
         transform: translateY(-45%) rotate(-45deg);
         transition: opacity .3s ease;

         @media (prefers-color-scheme: dark) {
            background: url("/assets/icons/arrow-new-white.svg");
            background-repeat: no-repeat;
            background-size: cover;
         }
      }

      &:hover {
         &::after {
            opacity: .5;
         }
      }

      &.inline {
         margin-right: 20px;

         &::after {
            margin-left: 3px;
         }
      }
   }

   &.is-new {
      margin-right: 20px;
      position: relative;

      &::after {
         content: "new";
         text-transform: uppercase;
         color: $primary;
         font-family: $mono;
         font-size: 12px;
         position: absolute;
         transform: translate(2px, -2px);
      }
   }

   &.is-scrolling-top,
   &.is-scrolling-down {
      position: relative;

      &::after {
         content: "";
         background: url("/assets/icons/arrow-new-black.svg");
         background-repeat: no-repeat;
         background-size: cover;
         width: 16.6px;
         height: 13px;
         position: absolute;
         top: 50%;
         display: inline-block;
         margin-left: 10px;
         transform: translateY(-45%) rotate(-90deg);
         transition: transform .3s ease;

         @media (prefers-color-scheme: dark) {
            background: url("/assets/icons/arrow-new-white.svg");
            background-repeat: no-repeat;
            background-size: cover;
         }
      }

      &:hover {
         &::after {
            opacity: 1;
         }
      }
   }

   &.is-scrolling-top {
      &::after {
         transform: translateY(-45%) rotate(-90deg);
      }

      &:hover::after {
         transform: translateY(calc(-45% - 2px)) rotate(-90deg);
      }
   }

   &.is-scrolling-down {
      &::after {
         transform: translateY(-45%) rotate(90deg);
      }

      &:hover::after {
         transform: translateY(calc(-45% + 2px)) rotate(90deg);
      }
   }
}