{{ define "content" }}

<div class="project-content">
   <header class="project-detail-header has-padding">
      <div class="header-layout">
         <div class="item">
            <span>
               Case study
            </span>
            <h1>
               {{ .Title }}
            </h1>
         </div>
         <div class="item">
            <div class="image-wrapper has-shadow">
               <img src="{{ .Site.BaseURL }}{{ .Params.image }}">
            </div>
         </div>
      </div>
   </header>

   <section class="has-padding" id="information">
      <div class="text-layout">
         <div class="item">
            <h2 class="is-bold">
               Overview
            </h2>

            <!-- {{ if .Params.categories }}
               <div class="category-tag-list">
                  {{ $len := len .Params.categories }}
                  {{ range $index, $tag := .Params.categories }}
                     <a href="{{ "categories/" | absLangURL }}{{ $tag | urlize }}" class="category-tag">
                        {{ . }}
                     </a>
                  {{ end }}
               </div>
            {{ end }} -->

            {{ with .Params.Year }}
            <div class="detail-item has-align-right">
               <h3>
                  Year
               </h3>
            </div>
            <div class="detail-item">
               <p>
                  {{ . }}
               </p>
            </div>
            {{ end }}

            {{ with .Params.Tools }}
            <div class="detail-item has-align-right">
               <h3>
                  Tools
               </h3>
            </div>
            <div class="detail-item">
               <p>
                  {{ . }}
               </p>
            </div>
            {{ end }}
         </div>
         <div class="item">
            {{ with .Params.Overview }}{{ . }}{{ end }}
         </div>
      </div>
   </section>

   {{ .Content }}

   {{ partial "project-pagination.html" . }}
</div>
{{ end }}
