// main: master.scss

.text-layout {
   display: flex;
   flex-wrap: wrap;

   .item {
      h3 {
         a {
            font-size: 22px;
            font-weight: 600;
            
            &:hover {
               color: $black;

               @media (prefers-color-scheme: dark) {
                  color: $grayPrimary;
               }
            }
         }

         &:not(:first-child) {
            margin-top: 40px;
         }
      }

      ul {
         padding-left: 10px;
         margin-top: 10px;
         list-style: none;

         li {
            margin-bottom: 5px;
            color: $grayPrimary;
            font-family: $mono;
            font-size: 13px;
            letter-spacing: .5px;

            &::before {
               content: "";
               width: 4px;
               height: 4px;
               background: $grayPrimary;
               border-radius: 50%;
               display: inline-block;
               margin-right: 10px;
               transform: translateY(calc(-50% - 1px));
            }
         }
      }

      &:nth-child(1) {
         width: 35%;
         padding-right: 5%;

      }
      &:nth-child(2) {
         width: 65%;
      }

      @media (min-width: 730px) {
         .wrapper.is-sticky {
            position: sticky;
            position: -webkit-sticky;
            top: 100px;
         }
      }
   }

   @media screen and (max-width: 730px) {
      .item {
         &:first-child {
            h2 {
               margin-bottom: 20px;
            }

            p {
               margin-bottom: 35px;
            }
         }

         &:nth-child(1),
         &:nth-child(2) {
            width: 100%;
         }
      }
   }
}
