// main: master.scss

$bluePrimary: #061BFF;
$blueSecondary: #1F2ED1;
$black: #000000;
$white: #FFFFFF;
$grayPrimary: #8F8F8F;
$graySecondary: #F8F8F8;
$grayDark: #1A1A1A;

$sans: 'inter', sans-serif;
// $sans: 'acumin-pro', sans-serif;
$serif: 'p22-mackinac-pro', serif;

$cubic: cubic-bezier(.12,.845,.305,1);
$bounceCubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
