// compileOnSave

@import "variables";

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   outline: none;
   appearance: none;
   -webkit-appearance: none;
}

body {
   background: $white;

   @media (prefers-color-scheme: dark) {
      background: $grayDark;
   }
}

// stop animations and transitions on resize (trigger in js/master.js)
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

// image max width
img {
   max-width: 100%;
}

// section default styles
section {
   padding-top: 150px;
   padding-bottom: 200px;

   @media screen and (max-width: 768px) {
      padding-top: 100px;
   }

   &.scroll-into-view {
      transform: translateY(100px);
      opacity: 0;
      transition: .5s ease;

      &.visible {
         transform: translateY(0);
         opacity: 1;
      }
   }

   &.is-highlighted {
      background: $graySecondary;

      @media (prefers-color-scheme: dark) {
         background: lighten($grayDark, 5%);
      }
   }

   &.is-centered {
      text-align: center;
   }
}

// has-padding class
.has-padding {
   padding-left: 15%;
   padding-right: 15%;

   @media screen and (max-width: 1024px) {
      padding-left: 7%;
      padding-right: 7%;
   }

   @media screen and (max-width: 840px) {
      padding-left: 5%;
      padding-right: 5%;
   }
}

// body classes
body.small-sections {
   section {
      padding-bottom: 100px;
   }
}

@import "chocolat.min";

.chocolat-overlay {
   background: $black;
}

.chocolat-wrapper {
   .chocolat-close {
      background: url("../assets/icons/cross-white.svg") 50% 50% no-repeat;
      background-size: 30%;
   }

   .chocolat-left {
      background: url("../assets/icons/arrow-new-white.svg") 50% 50% no-repeat;
      transform: rotate(180deg);
      background-size: 40%;
   }

   .chocolat-right {
      background: url("../assets/icons/arrow-new-white.svg") 50% 50% no-repeat;
      background-size: 40%;
   }

   .chocolat-fullscreen {
      background: url("../assets/icons/fullscreen-white.svg") 50% 50% no-repeat;
   }

   .chocolat-set-title {
      border-right: none;
   }
}

@import "layouts";
@import "typography";

@import "atoms/button";
@import "atoms/link";

@import "components/navigation";
@import "components/header";
@import "components/project-list";
@import "components/footer";
@import "components/project-pagination";

@import "pages/playground";
@import "pages/project-detail";
@import "pages/uses";
@import "pages/bio";
