{{ define "content" }}

<header class="intro has-padding">
   <div class="content">
      <h1>
         Hi, I'm Linus!
      </h1>
      <p>
         A self-taught user-experience designer and front-end developer from Hamburg, Germany. <wbr>I bring attention to the smallest details to create an unforgettable user experience.
      </p>

      <div class="button-group">
         <a href="#work" class="btn primary">Explore my work</a>
         <a href="mailto:moin@linuscodes.com" class="btn secondary">Contact me</a>
      </div>
   </div>
</header>

<section class="has-padding work" id="work">
   <div class="text-layout">
      <div class="item">
         <h1 class="scroll-into-view">
            Projects
         </h1>
      </div>

      <div class="item">
         <p>
            I had the pleasure to work on really neat projects with a lot of great people. <a href="{{ .Site.BaseURL }}projects">See all projects</a>
         </p>
      </div>
   </div>

   <div class="project-list scroll-into-view">
      <ul>
         {{ $projects := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
         {{ range first 3 (sort $projects.Pages "Params.year" "desc" (where $projects.Pages "Params.type" "project")) }}
         <li>
            <div class="content">
               {{ if not .Params.comingSoon }}<a href="{{ .Permalink }}" itemprop="url" class="project-link" title="Explore this project">{{ end }}
                  <h2 class="project-list-title">
                     {{ .Title }}
                  </h2>

                  {{ with .Description }}
                     <p class="project-list-description">
                        {{ . }}
                     </p>
                  {{ end }}
               {{ if not .Params.comingSoon }}</a>{{ end }}

               {{ if not .Params.comingSoon }}
                  <a href="{{ .Permalink }}" class="btn primary">Read more</a>
               {{ else }}
                  <a href="{{ .Permalink }}" class="btn disabled">Coming Soon</a>
               {{ end }}
            </div>
         </li>
         {{ end }}
      </ul>
   </div>
</section>

<section class="has-padding writing">
   <h1 class="scroll-into-view">
      Writing
   </h1>
</section>

{{ end }}
