// main: ../master.scss

footer {
   &.main {
      // background: $graySecondary;
      padding-top: 100px;
      padding-bottom: 100px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 50px;

      h3 {
         margin-bottom: 10px;
      }

      ul {
         list-style: none;

         li {
            margin-bottom: 5px;
         }
      }

      .btn {
         margin-top: 30px;
      }

      .branding {
         .logo-wrapper {
            width: 50px;
            height: 50px;

            &::after {
               content: "";
               background: url("/assets/logo-black.svg");
               background-repeat: no-repeat;
               background-size: cover;
               width: 50px;
               height: 50px;
               position: relative;
               display: block;

               @media (prefers-color-scheme: dark) {
                  background: url("/assets/logo-white.svg");
                  background-repeat: no-repeat;
                  background-size: cover;
               }
            }
         }
      }
   }

   &.post {
      padding-top: 30px;
      padding-bottom: 30px;
      background: darken($graySecondary, 0%);
      display: flex;
      justify-content: space-between;

      @media (prefers-color-scheme: dark) {
         background: lighten($grayDark, 5%);
         color: $white;
      }

      .scroll-top {
         .scroll-top-link {
            cursor: pointer;
         }
      }
   }
}
