// main: ../master.scss

header {
   margin-top: 70px;
   min-height: 50vh;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   overflow: visible;
   z-index: 1;

   .header-layout {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .item {
         &:nth-child(1) {
            width: 45%;
         }
         &:nth-child(2) {
            width: 55%;
         }

         .image-wrapper {
            overflow: hidden;
            transform: translateY(100px);

            img {
               vertical-align: top;
            }

            &.has-shadow {
               box-shadow: 0 0 20px 4px rgba($black, .03);
            }
         }
      }
   }

   @media screen and (max-width: 1280px) {
      .header-layout {
         align-items: flex-start;

         .item {
            &:nth-child(1),
            &:nth-child(2) {
               width: 100%;
            }

            &:nth-child(1) {
               min-height: 30vh;
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               justify-content: center;
            }

            &:nth-child(2) {
               z-index: 1;
            }

            .image-wrapper {
               transform: translateY(0);
            }
         }
      }
   }

   span {
      font-family: $sans;
      display: block;
      text-transform: uppercase;
      color: $grayPrimary;
      letter-spacing: 1px;
   }

   .btn {
      margin-top: 70px;
   }

   .button-group {
      .btn:not(:last-child) {
         margin-right: 5px;
      }
   }

   &.intro {
      min-height: calc(100vh - 70px);

      h1 {
         span {
            display: inline-block;
            margin-left: 10px;
            animation: wave 1s ease 4;

            @keyframes wave {
               0%, 50%, 100% {
                  transform: rotate(0deg);
               }
               25%, 75% {
                  transform: rotate(20deg);
               }
            }
         }
      }

      @media screen and (max-width: 768px) {
         min-height: 80vh;
      }
      h1 {
         font-size: 70px;
      }

      p {
         font-size: 20px;

         @media screen and (min-width: 1222px) {
            max-width: 855px;
         }
      }

      @media screen and (max-width: 640px) {
         h1 {
            font-size: 40px;
         }

         p {
            font-size: 16px;
         }
      }
   }
}

.has-header-layout {
   section {
      &:first-of-type {
         padding-top: 200px;
         background: $graySecondary;

         @media (prefers-color-scheme: dark) {
            background: lighten($grayDark, 5%);
         }
      }
   }

   @media screen and (max-width: 1280px) {
      section {
         &:first-of-type {
            transform: translateY(-100px);
         }
      }
   }
}

@media screen and (max-width: 1280px) {
   .has-header-layout header .header-layout {
      .item:nth-child(1) {
         min-height: 40vh;
      }
   }
}
