// main: ../master.scss

header {
   margin-top: 70px;
   min-height: 50vh;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;

   &.intro {
      min-height: 100vh;

      @media screen and (max-width: 768px) {
         min-height: 80vh;
      }
      h1 {
         font-size: 70px;
      }

      p {
         font-size: 20px;
      }

      @media screen and (max-width: 640px) {
         h1 {
            font-size: 40px;
         }

         p {
            font-size: 16px;
         }
      }
   }

   span {
      font-family: $sans;
      display: block;
      text-transform: uppercase;
      color: $grayPrimary;
      letter-spacing: 1px;
   }

   .btn {
      margin-top: 70px;
   }
   
   .button-group {
      .btn:not(:last-child) {
         margin-right: 5px;
      }
   }
}
