// main: ../master.scss

nav.main {
   width: 100%;
   height: 70px;
   background: $white;
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   transition: box-shadow .3s ease;
   z-index: 5;

   &.has-shadow {
      box-shadow: 0 0 20px 10px rgba($color: $black, $alpha: .05);
   }

   .branding {
      a {
         font-size: 25px;
         font-weight: bold;
         color: $black;
      }
   }

   .page-links {
      background: $white;

      ul {
         list-style: none;

         li {
            float: left;

            &:not(:last-child) {
               margin-right: 25px;
            }

            &:nth-child(3) {
               margin-right: 40px;

               a {
                  &::after {
                     content: "";
                     background: url("/assets/icons/arrow-new-black.svg");
                     background-repeat: no-repeat;
                     background-size: cover;
                     width: 15.6px;
                     height: 12px;
                     position: absolute;
                     top: 50%;
                     display: inline-block;
                     margin-left: 5px;
                     transform: translateY(-45%) rotate(-45deg);
                     transition: opacity .3s ease;

                     @media (prefers-color-scheme: dark) {
                        background: url("/assets/icons/arrow-new-white.svg");
                        background-repeat: no-repeat;
                        background-size: cover;
                     }
                  }

                  &:hover {
                     &::after {
                        opacity: .5;
                     }
                  }
               }
            }

            a {
               position: relative;

               &.active {
                  color: $bluePrimary;
               }
            }
         }
      }
   }

   .mobile-btn {
      display: none;
      cursor: pointer;

      .bars .bar {
         width: 25px;
         height: 2px;
         background: #000;

         &:not(:last-child) {
           margin-bottom: 5px;
        }
     }
  }

   @media screen and (max-width: 520px) {
      .branding,
      .mobile-btn {
         z-index: 3;
      }

      .mobile-btn {
         display: block;
      }

      .page-links {
         position: fixed;
         width: 100%;
         height: 50vh;
         top: 0;
         left: 0;
         padding: 150px 5% 20px 5%;
         transform: translateY(calc(-100% + 70px));
         z-index: 2;
         transition: transform 1s .2s cubic-bezier(0.19, 1, 0.22, 1);

         ul {
            li {
               float: none;
               margin-bottom: 15px;
               opacity: 0;
               transform: translateY(-10px);
               transition: .4s ease;

               a {
                  font-size: 20px;
               }
            }
         }
      }

      &.nav-opened {
         .page-links {
            transform: translateY(-1px);
            transition-delay: 0s;

            ul li {
               opacity: 1;
               transform: translateY(0);

               &:nth-child(1) {
                  transition-delay: .3s;
               }
               &:nth-child(2) {
                  transition-delay: .35s;
               }
               &:nth-child(3) {
                  transition-delay: .4s;
               }
               &:nth-child(4) {
                  transition-delay: .45s;
               }
               &:nth-child(5) {
                  transition-delay: .5s;
               }
            }
         }
      }
   }
}
