// main: ../master.scss

.project-list {
   margin-top: 50px;

   &.scroll-into-view {
      ul li {
         transform: translateY(50px);
         opacity: 0;
         transition: .6s ease;
      }

      &.visible {
         ul li {
            transform: translateY(0);
            opacity: 1;
         }
      }
   }

   ul {
      list-style: none;
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 30px;

      @media screen and (max-width: 768px) {
         grid-template-columns: 1fr;
      }

      li {
         @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
               transition-delay: #{ '.' + $i + 's'};
            }
         }


         .wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: lighten($graySecondary, 1%);
            padding: 30px 25px;
            border-radius: 10px;
            transition: transform .5s $bounceCubic;
         }

         &:hover {
            .wrapper {
               transform: scale(1.05) !important;
            }
         }
      }
   }

   .category-tag-list {
      margin-top: 25px;
      position: relative;
      bottom: 0;

      .category-tag {
         padding: 5px 15px;
         border-radius: 20px;
         color: $black;
         background: $graySecondary;
         border: 1px solid lighten($black, 95%);
         display: inline-block;
         font-size: 13px;

         &:not(:last-child) {
            margin-right: 5px;
            margin-bottom: 5px;
         }
      }
   }

   .project-list-title {
      margin-bottom: 10px;
      display: block;
   }

   .btn {
      margin-top: 40px;
   }
}
