// main: ../master.scss

.project-list {
   margin-top: 50px;

   &.scroll-into-view {
      ul li {
         transform: translateY(50px);
         opacity: 0;
         transition: .6s ease;
      }

      &.visible {
         ul li {
            transform: translateY(0);
            opacity: 1;
         }
      }
   }

   ul {
      list-style: none;
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 30px;

      @media screen and (max-width: 768px) {
         grid-template-columns: 1fr;
      }

      li {
         @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
               transition-delay: #{ '.' + $i + 's'};
            }
         }

         .content {
            height: 100%;
            background: $white;
            box-shadow: 0 0 20px 3px rgba($black, .02);
            border: 1px solid rgba($black, .05);
            border-radius: 20px;
            overflow: hidden;
            transition: transform .5s $bounceCubic, background .5s ease;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 100%;
            padding: 25px;
         }
      }
   }

   .category-tag-list {
      margin-top: auto;
      position: relative;
      bottom: 0;
      justify-self: flex-end;

      .category-tag {
         padding: 5px 15px;
         border-radius: 20px;
         color: $black;
         background: $graySecondary;
         border: 1px solid lighten($black, 95%);
         display: inline-block;
         font-size: 13px;

         &:not(:last-child) {
            margin-right: 5px;
            margin-bottom: 5px;
         }
      }
   }

   .project-list-title {
      margin-bottom: 10px;
      display: block;
   }

   .project-list-description {
      margin-bottom: 20px;
   }

   .btn {
      margin-top: 40px;
      width: 100%;
      justify-content: center;
   }
}

.featured-project {
   width: 100%;
   background: $white;
   box-shadow: 0 0 20px 3px rgba($black, .02);
   border: 1px solid rgba($black, .05);
   border-radius: 20px;
   overflow: hidden;
   display: flex;
   flex-wrap: wrap;

   .content {
      height: auto;
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 25px;

      .featured-tag {
         padding: 5px 15px;
         border-radius: 20px;
         color: $black;
         background: $graySecondary;
         border: 1px solid lighten($black, 95%);
         display: inline-block;
         font-size: 13px;
         margin-bottom: 50px;
      }

      .project-list-description {
         margin-bottom: 30px;
      }
   }

   .image-wrapper {
      width: 55%;
      object-fit: cover;
      display: flex;
      align-items: flex-end;

      img {
         vertical-align: bottom;
      }
   }

   @media screen and (max-width: 1100px) {
      .content,
      .image-wrapper {
         width: 100%;
      }
   }
}
