{{ define "content" }}
<header class="has-padding">
   <span>
      Projects
   </span>
   <h1>
      Made with ❤️ and 🧠
   </h1>

   <div class="button-group">
      <a href="#overview" class="btn primary">Explore</a>
      <a href="mailto:moin@linuscods.com?subject=Start%20your%20project" class="btn secondary">Start your project</a>
   </div>
</header>

<section class="has-padding" id="featured">
   <div class="text-layout">
      <div class="item">
         <h2 class="is-bold">
            Featured Project
         </h2>
      </div>
      <div class="item">
         <p>
            This was by far my favorite project to work on. Getting to know, Niki, Björn and Henrik is such a pleasure. We are still on our way to find the right path, but we've already learned so much. And that's what it is all about.
         </p>
      </div>
   </div>

   {{ range first 3 (where .Site.Pages "Params.featured" "true") }}
      <div class="featured-project">
         <div class="content">
            <div class="featured-tag">
               Featured project
            </div>

            <div class="wrapper">
               <a href="{{ .Permalink }}" itemprop="url" class="project-link" title="Explore this project">
                  <h2 class="project-list-title">
                     {{ .Title }}
                  </h2>

                  {{ with .Description }}
                     <p class="project-list-description">
                        {{ . }}
                     </p>
                  {{ end }}
               </a>

               <a href="{{ .Permalink }}" class="btn primary">Read more</a>
            </div>
         </div>

         {{ with .Params.image }}
         <div class="image-wrapper">
            <img src="{{ . | absURL }}">
         </div>
         {{ end }}
      </div>
   {{ end }}
</section>

<section class="has-padding" id="overview">
   <div class="text-layout">
      <div class="item">
         <h2 class="is-bold">
            Overview
         </h2>
      </div>
      <div class="item">
         <p>
            Learning by doing is one of the approaches that works pretty well for me. For that matter I tried to build as much as I can. Either for great people or for myself. These so called side-projects can be found on my <a href="{{ .Site.BaseURL }}playground">playground</a>.
         </p>
      </div>
   </div>

   <div class="project-list scroll-into-view">
      <ul>
         {{ $pag := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
         {{ range where $pag.Pages.ByPublishDate.Reverse "Params.type" "project" }}
         <li>
            <div class="content">
               <a href="{{ .Permalink }}" itemprop="url" class="project-link" title="Explore this project">
                  <h2 class="project-list-title">
                     {{ .Title }}
                  </h2>

                  {{ with .Description }}
                     <p class="project-list-description">
                        {{ . }}
                     </p>
                  {{ end }}
               </a>

               <a href="{{ .Permalink }}" class="btn primary">Read more</a>
            </div>
         </li>
         {{ end }}
      </ul>
   </div>
</section>
{{ end }}
