
{{ define "content" }}
<header class="has-padding">
   <span>
      Projects
   </span>
   <h1>
      Made with ❤️ and 🧠
   </h1>

   <div class="button-group">
      <a href="#overview" class="btn primary">Explore</a>
      <a href="mailto:moin@linuscods.com?subject=Start%20your%20project" class="btn secondary">Start your project</a>
   </div>
</header>

<section class="has-padding" id="overview">
   <div class="project-list scroll-into-view">
      <ul>
         {{ $pag := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
         {{ range where $pag.Pages.ByPublishDate.Reverse "Params.type" "project" }}
         <li>
            <div class="content">
               <a href="{{ .Permalink }}" itemprop="url" class="project-link" title="Explore this project">
                  <h2 class="project-list-title">
                     {{ .Title }}
                  </h2>

                  {{ with .Description }}
                     <p class="project-list-description">
                        {{ . }}
                     </p>
                  {{ end }}
               </a>

               <a href="{{ .Permalink }}" class="btn primary">Read more</a>
            </div>
         </li>
         {{ end }}
      </ul>
   </div>
</section>
{{ end }}
