{{ define "content" }}
<header class="has-padding">
   <span>
      Projects
   </span>
   <h1>
      Made with love and 🧠
   </h1>

   <div class="button-group">
      <a href="#featured" class="btn primary">Explore</a>
      <a href="mailto:moin@linuscods.com?subject=Start%20your%20project" class="btn secondary">Start your project</a>
   </div>
</header>

<section class="has-padding" id="overview">
   <div class="text-layout">
      <div class="item">
         <h2 class="is-bold">
            Overview
         </h2>
      </div>
      <div class="item">
         <p>
            Learning by doing is one of the approaches that works pretty well for me. For that matter I tried to build as much as I can. Either for great people or for myself. These so called side-projects can soon be found on my <a href="{{ .Site.BaseURL }}playground" class="disabled">playground</a>.
         </p>
      </div>
   </div>

   <div class="project-list scroll-into-view">
      <ul>
         {{ $projects := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
         {{ range (sort $projects.Pages "Params.year" "desc" (where $projects.Pages "Params.type" "project")) }}
         <li>
            <div class="content">
               {{ if not .Params.comingSoon }}<a href="{{ .Permalink }}" class="project-link" title="Explore this project">{{ end }}
                  <h2 class="project-list-title">
                     {{ .Title }}
                  </h2>

                  {{ with .Description }}
                     <p class="project-list-description">
                        {{ . }}
                     </p>
                  {{ end }}

                  {{ with .Params.liveLink }}
                     <p>
                        <a href="{{ . }}" target="_blank" class="is-external">Visit live site</a>
                     </p>
                  {{ end}}
               {{ if not .Params.comingSoon }}</a>{{ end }}

               {{ if not .Params.comingSoon }}
                  <a href="{{ .Permalink }}" class="btn primary">Read more</a>
               {{ else }}
                  <a href="{{ .Permalink }}" class="btn disabled">Coming Soon</a>
               {{ end }}
            </div>
         </li>
         {{ end }}
      </ul>
   </div>
</section>
{{ end }}
