// main: ../master.scss

.playground-layout {
   width: 100%;
   display: grid;
   gap: 60px;
   margin-bottom: 60px;

   &.full-width {
      grid-template-columns: 1fr;
   }

   &.col-2 {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   }

   .item {
      width: 100%;

      .has-shadow {
         box-shadow: 0 0 20px 4px rgba($black, .03);
      }

      .image-wrapper {
         position: relative;
         overflow: hidden;

         img {
            vertical-align: top;
         }

         &::after {
            content: attr(data-title);
            position: absolute;
            left: 20px;
            bottom: 20px;
            padding: 10px 20px;
            border-radius: 10px;
            background: $graySecondary;
            z-index: 1;
            color: $black;
            transform: translateY(59px);
            transition: transform .3s ease;
         }

         &:hover {
            &::after {
               transform: translateY(0);
            }
         }
      }
   }

   @media screen and (max-width: 768px) {
      gap: 20px;
   }
}
