<nav class="main has-padding">
   <!-- <div class="branding">
      <a href="{{ .Site.BaseURL }}">
         Linus Rogge
      </a>
   </div> -->

   <div class="page-links">
      <ul>
         {{ $current := . }}
         {{ range .Site.Menus.main }}
         {{ $topLevel := replace .URL "/" "" }}
         <li class="{{ if eq .Identifier "blog" }}has-external-link{{ end }}{{ if eq $current.RelPermalink .URL | or (eq $current.Type $topLevel) | or (and (eq .Name "Blog") (in (slice "taxonomy" "taxonomyTerm") $current.Kind)) }}active{{ end }}">
            <a href="{{ .URL }}" class="{{ if eq .Identifier "blog" }} is-external{{ end }}" title="{{ .Name }}">{{ .Name }}</a>
         </li>
         {{ end}}
      </ul>
   </div>

   <div>
      <a href="#" class="btn primary">Contact</a>
   </div>

   <div class="mobile-btn">
      <div class="bars">
         <div class="bar"></div>
         <div class="bar"></div>
         <div class="bar"></div>
      </div>
   </div>
</nav>
