// main: master.scss

@media (prefers-color-scheme: dark) {
   body {
      background: $grayDark;
   }

   h1, h2, h3, h4, h5, h6 {
      color: $white;
   }

   a {
      color: $white;
   }

   .btn {
      &.secondary {
         background: lighten($grayDark, 5%);
         color: $white;

         &:hover {
            background: lighten($grayDark, 3%);
         }
      }
   }

   nav.main {
      background: $grayDark;

      &.has-shadow {
         box-shadow: 0 0 30px 10px rgba($color: $black, $alpha: .2);
      }

      .branding {
         a {
            color: $white;
         }
      }

      .page-links {
         background: $grayDark;
      }

      .mobile-btn {
         .bars .bar {
            background: $white;
         }
      }
   }

   .text-layout {
      .item {
         h3 {
            a {
               &:hover {
                  color: $white;
               }
            }
         }
      }
   }

   .project-list {
      ul li {
         .content {
            background: $grayDark;
            box-shadow: 0 0 30px 3px rgba($black, .1);
            border: 1px solid rgba($white, .05);
         }
      }
   }

   .featured-project {
      background: $grayDark;
      box-shadow: 0 0 30px 3px rgba($black, .1);
      border: 1px solid rgba($white, .05);

      .content {
         .featured-tag {
            background: $grayDark;
            color: darken($white, 30%);
            border: 1px solid rgba($white, .05);
         }
      }
   }

   footer {
      &.post {
         background: lighten($grayDark, 5%);
         color: $white;
      }
   }
}
