// compileOnSave: true

$bluePrimary: #061BFF;
$blueSecondary: #1F2ED1;
$black: #000000;
$white: #FFFFFF;
$grayPrimary: #8F8F8F;
$graySecondary: #F8F8F8;

$bounceCubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$sans: 'inter';
$serif: 'p22-mackinac-pro';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   outline: none;
   appearance: none;
   -webkit-appearance: none;
   font-display: swap;
   font-family: $sans;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

h1, h2, h3, h4, h5, h6 {
   font-family: $serif;
}

h1 {
   font-size: 40px;
   font-weight: 900;
   margin-bottom: 15px;
}

h2 {
   font: 500 30px/1.4 $serif;
   margin-bottom: 10px;

   &.is-bold {
      font-weight: 700;
   }
}

h3 {
   font-size: 25px;
}

p {
   font: 16px/1.8 $sans;
   color: $grayPrimary;
   margin-bottom: 15px;
}

a {
   font: 16px $sans;
   color: $black;
   text-decoration: none;
   transition: color .3s ease;

   &.link {
      color: $bluePrimary;
   }

   &:hover {
      color: $grayPrimary;
   }
}

img {
   max-width: 100%;
}

.has-padding {
   padding-left: 15%;
   padding-right: 15%;

   @media screen and (max-width: 768px) {
      padding-left: 5%;
      padding-right: 5%;
   }
}

.main-content,
.page-content,
footer.main {
   transition: transform 1s .2s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-opened {
   .main-content,
   .page-content,
   footer.main {
      transform: translateY(50vh);
      transition-delay: 0s;
   }
}

section {
   padding-top: 150px;
   padding-bottom: 200px;

   @media screen and (max-width: 768px) {
      padding-top: 100px;
   }
}

.overlay {
   width: 100%;
   height: 100%;
   z-index: 1;
   background: rgba($black, .6);
   position: fixed;
   top: 0;
   left: 0;
   opacity: 0;
   pointer-events: none;
   transition: opacity .5s .2s ease;

   &.visible {
      opacity: 1;
      pointer-events: all;
      transition-delay: 0s;
   }
}

.text-layout {
   display: flex;
   flex-wrap: wrap;

   .item {
      &:nth-child(1) {
         width: 35%;
         padding-right: 5%;
      }
      &:nth-child(2) {
         width: 65%;
      }
   }

   @media screen and (max-width: 730px) {
      .item:nth-child(1),
      .item:nth-child(2) {
         width: 100%;
      }
   }
}


@import "atoms/button";

@import "components/navigation";
@import "components/header";
@import "components/project-list";
@import "components/footer";

@import "pages/about";
