// compileOnSave

$bluePrimary: #061BFF;
$blueSecondary: #1F2ED1;
$black: #000000;
$white: #FFFFFF;
$grayPrimary: #8F8F8F;
$graySecondary: #F8F8F8;
$grayDark: #1A1A1A;

$bounceCubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$sans: 'inter', sans-serif;
$serif: 'p22-mackinac-pro';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   outline: none;
   appearance: none;
   -webkit-appearance: none;
   font-family: $sans;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

// .swup-transition-main {
//    opacity: 1;
//    transform: translate3d(0, 0, 0);
//    transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
// }
// html.is-animating .swup-transition-main {
//    opacity: 0;
//    transform: translate3d(0, -60px, 0);
// }
// html.is-animating.is-leaving .swup-transition-main {
//    opacity: 0;
//    transform: translate3d(0, 60px, 0);
// }
// html.is-animating.swup-theme-reverse .swup-transition-main {
//    opacity: 0;
//    transform: translate3d(0, 60px, 0);
// }
// html.is-animating.swup-theme-reverse.is-leaving .swup-transition-main {
//    opacity: 0;
//    transform: translate3d(0, -60px, 0);
// }

h1, h2, h3, h4, h5, h6 {
   font-family: $serif;
}

h1 {
   font-size: 40px;
   font-weight: 900;
   margin-bottom: 15px;
}

h2 {
   font: 500 30px/1.4 $serif;
   margin-bottom: 10px;

   &.is-bold {
      font-weight: 700;
   }

   &.is-sans {
      font-family: $sans;
   }
}

h3 {
   font-size: 23px;
   font-weight: 700;
}

p {
   font: 16px/1.8 $sans;
   color: $grayPrimary;
   margin-bottom: 20px;
}

a {
   font: 16px $sans;
   color: $black;
   text-decoration: none;
   transition: color .3s ease;

   &.link {
      color: $bluePrimary;
   }

   &.disabled {
      opacity: .2;
      color: $black;
      pointer-events: none;

      &:hover {
         color: $black;
      }

      @media (prefers-color-scheme: dark) {
         color: $white;

         &:hover {
            color: $white;
         }
      }
   }

   &:hover {
      color: $grayPrimary;
   }

   &.is-external {
      position: relative;

      &::after {
         content: "";
         background: url("/assets/icons/arrow-new-black.svg");
         background-repeat: no-repeat;
         background-size: cover;
         width: 15.6px;
         height: 12px;
         position: absolute;
         top: 50%;
         display: inline-block;
         margin-left: 10px;
         transform: translateY(-45%) rotate(-45deg);
         transition: opacity .3s ease;

         @media (prefers-color-scheme: dark) {
            background: url("/assets/icons/arrow-new-white.svg");
            background-repeat: no-repeat;
            background-size: cover;
         }
      }

      &:hover {
         &::after {
            opacity: .5;
         }
      }
   }
}

img {
   max-width: 100%;
}

.has-padding {
   padding-left: 15%;
   padding-right: 15%;

   @media screen and (max-width: 1024px) {
      padding-left: 7%;
      padding-right: 7%;
   }

   @media screen and (max-width: 840px) {
      padding-left: 5%;
      padding-right: 5%;
   }
}

.main-content,
.page-content,
footer.main {
   transition: transform 1s .2s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-opened {
   .main-content,
   .page-content,
   footer.main {
      transform: translateY(50vh);
      transition-delay: 0s;
   }
}

section {
   padding-top: 150px;
   padding-bottom: 200px;

   @media screen and (max-width: 768px) {
      padding-top: 100px;
   }

   &.scroll-into-view {
      transform: translateY(100px);
      opacity: 0;
      transition: .5s ease;

      &.visible {
         transform: translateY(0);
         opacity: 1;
      }
   }

   &.is-highlighted {
      background: $graySecondary;

      @media (prefers-color-scheme: dark) {
         background: lighten($grayDark, 5%);
      }
   }
}

body.small-sections {
   section {
      padding-bottom: 100px;
   }
}


.overlay {
   width: 100%;
   height: 100%;
   z-index: 1;
   background: rgba($black, .6);
   position: fixed;
   top: 0;
   left: 0;
   opacity: 0;
   pointer-events: none;
   transition: opacity .5s .2s ease;

   &.visible {
      opacity: 1;
      pointer-events: all;
      transition-delay: 0s;
   }
}

.text-layout {
   display: flex;
   flex-wrap: wrap;

   .item {
      h3 {
         a {
            color: $grayPrimary;

            &:hover {
               color: $black;
            }
         }

         &:not(:first-child) {
            margin-top: 40px;
         }
      }

      ul {
         padding-left: 20px;
         margin-top: 10px;

         li {
            margin-bottom: 5px;
            color: lighten($black, 40%);
         }
      }

      &:nth-child(1) {
         width: 35%;
         padding-right: 5%;

      }
      &:nth-child(2) {
         width: 65%;
      }

      @media (min-width: 730px) {
         .wrapper.is-sticky {
            position: sticky;
            position: -webkit-sticky;
            top: 100px;
         }
      }
   }

   @media screen and (max-width: 730px) {
      .item {
         &:first-child {
            h2 {
               margin-bottom: 3px;
               font-weight: 900;
            }

            p {
               margin-bottom: 35px;
            }
         }

         &:nth-child(1),
         &:nth-child(2) {
            width: 100%;
         }
      }
   }
}

@import "atoms/button";

@import "components/navigation";
@import "components/header";
@import "components/project-list";
@import "components/footer";
@import "components/project-pagination";

@import "pages/playground";
@import "pages/project-detail";
@import "pages/uses";

@import "darkmode";
