{{ define "content" }}

<header class="intro has-padding">
   <div class="content">
      <h1>
         Hi, I'm Linus! <span>👋🏻</span>
      </h1>
      <p>
         A self-taught user-experience designer and front-end developer from Hamburg, Germany. <wbr>I bring attention to the smallest details to create an unforgettable user experience.
      </p>

      <div class="button-group">
         <a href="#featured" class="btn primary is-scrolling">Explore</a>
         <a href="mailto:moin@linuscodes.com" class="btn secondary">Contact me</a>
      </div>
   </div>
</header>

<section class="has-padding" id="featured">
   <div class="text-layout">
      <div class="item">
         <h2 class="is-bold">
            Featured Project
         </h2>
         <p>
            <a href="/projects">View all projects</a> to see what I do best
         </p>
      </div>
      <div class="item">
         <p>
            This was by far my favorite project to work on. Getting to know Niki, Björn and Henrik is such a pleasure. We are still on our way to find the right path, but we've already learned so much. And that's what it is all about.
         </p>
      </div>
   </div>

   {{ range first 1 (where .Site.Pages "Params.featured" "true") }}
      <div class="featured-project">
         <div class="content">
            <div class="featured-tag">
               Featured project
            </div>

            <div class="wrapper">
               {{ if not .Params.comingSoon }}<a href="{{ .Permalink }}" class="project-link" title="Explore this project">{{ end }}
                  <h2 class="project-list-title">
                     {{ .Title }}
                  </h2>

                  {{ with .Description }}
                     <p class="project-list-description">
                        {{ . }}
                     </p>
                  {{ end }}

                  <!-- {{ with .Params.liveLink }}
                     <p>
                        <a href="{{ . }}" target="_blank" class="is-external">Visit live site</a>
                     </p>
                  {{ end}} -->
               {{ if not .Params.comingSoon }}</a>{{ end }}

                  <a href="{{ .Params.liveLink }}" class="btn primary is-external" target="_blank">Visit live site</a>
                  <!-- {{ if not .Params.comingSoon }} -->
               <!-- {{ else }}
                  <a href="{{ .Permalink }}" class="btn disabled">Coming Soon</a>
               {{ end }} -->
            </div>
         </div>

         {{ with .Params.image }}
         <div class="image-wrapper">
            <img src="{{ . | absURL }}">
         </div>
         {{ end }}
      </div>
   {{ end }}
</section>

<!-- <section class="has-padding is-highlighted">
   <h1>
      Got a vision? Let me help you!
   </h1>
   <h2 class="is-sans">
      How can I bring your vision to life to help making this world a better place?
   </h2>
   <a href="mailto:moin@linuscodes.com" class="btn primary">Contact me</a>
</section> -->

<!-- <section class="has-padding writing">
   <h1 class="scroll-into-view">
      Writing
   </h1>
</section> -->

{{ end }}
