   <footer class="main has-padding">
      <div class="branding">
         <img src="{{ .Site.BaseURL }}assets/logo.svg">
      </div>

      <div class="social-media">
         <h3>
            Social Media
         </h3>
         <ul>
            {{ with .Site.Params.Instagram }}
               <li>
                  <a href="{{ . }}">Instagram</a>
               </li>
            {{ end }}
            {{ with .Site.Params.Github }}
               <li>
                  <a href="{{ . }}">Github</a>
               </li>
            {{ end }}
            {{ with .Site.Params.Twitter }}
               <li>
                  <a href="{{ . }}">Twitter</a>
               </li>
            {{ end }}
            {{ with .Site.Params.Codepen }}
               <li>
                  <a href="{{ . }}">CodePen</a>
               </li>
            {{ end }}
         </ul>
      </div>

      <div class="about">
         <h3>
            Linus Rogge
         </h3>
         <p>
            Linus is a 15 year old student from Hamburg, Germany who has experience in design and development for over 5 years.
         </p>
         <a href="about" class="btn secondary">Read more</a>
      </div>
   </footer>

   <footer class="post has-padding">
      <div class="copyright">
         &copy;2020 <a href="https.//linuscodes.com/">Linus Rogge</a>
      </div>
   </footer>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="{{ .Site.BaseURL }}js/bez/src/jquery.bez.js"></script>
   <script src="{{ .Site.BaseURL }}js/master.js"></script>
   </body>
</html>
