<nav class="main has-padding">
   <div class="branding">
      <span class="has-serif-font">
         Linus Rogge
      </span>
   </div>

   <div class="page-links">
      <ul>
         <li>
            <a href="#">Home</a>
         </li>
         <li>
            <a href="#">Work</a>
         </li>
         <li>
            <a href="#">Playground</a>
         </li>
         <li>
            <a href="https://blog.linuscodes.com/">Blog</a>
         </li>
         <li>
            <a href="#">About</a>
         </li>
      </ul>
   </div>
</nav>
