<nav class="main has-padding">
   <div class="branding">
      <a href="{{ .Site.BaseURL }}">
         Linus Rogge
      </a>
   </div>

   <div class="page-links">
      <ul>
         {{ range .Site.Menus.main }}
         <li>
            <a href="{{ .URL }}">
               {{ .Name }}
            </a>
         </li>
         {{ end}}
      </ul>
   </div>

   <div class="mobile-btn">
      <div class="bars">
         <div class="bar"></div>
         <div class="bar"></div>
         <div class="bar"></div>
      </div>
   </div>
</nav>
