// main: ../master.scss

.project-content {
   .category-tag-list {
      position: relative;
      justify-self: flex-end;

      .category-tag {
         padding: 5px 15px;
         border-radius: 20px;
         color: $black;
         background: $white;
         border: 1px solid lighten($black, 95%);
         display: inline-block;
         font-size: 13px;

         @media (prefers-color-scheme: dark) {
            background: $grayDark;
            color: darken($white, 30%);
            border: 1px solid rgba($white, .05);
         }

         &:not(:last-child) {
            margin-right: 5px;
            margin-bottom: 5px;
         }
      }
   }

   .detail-item {
      h3 {
         font-family: $sans;
         line-height: 1.8;
         font-size: 18px;
      }

      p {
         font-weight: 300;
      }

      &.has-align-right {
         justify-self: flex-end;
      }
   }
}
